---
import { Icon } from 'astro-icon/components';
import Button from '../Button.astro';

// import Card from "./Card/index.astro";
interface Props {
  title: string;
  image: string;
  github: string;
  url?: string;
}

const { image, github, url, title } = Astro.props;
---

<div>
  <h1 class="text-xl font-bold">{title}</h1>
  <div class="pt-10 h-full w-full">
    <div class="flex justify-between">
      <div class="w-[50%]">
        <slot />
      </div>
      <div class="w-[50%] border border-white">
        <a href={image}>
          <img src={image} alt="Heere" />
        </a>
      </div>
    </div>
    <div class="flex gap-4">
      <a href={github} aria-label="github url" target="_blank">
        <Button aria-label="github url">
          <Icon name="ri:github-fill" class="h-6" />
          <span class="sr-only">GitHub Url</span>
        </Button>
      </a>
      {
        url && (
          <a href={url} aria-label="website url" target="_blank">
            <Button aria-label="websit url">
              <Icon name="ri:link" class="h-6" />
              <span class="sr-only">WebSite Url</span>
            </Button>
          </a>
        )
      }
    </div>
  </div>
</div>
